<!-- Insert navigation component here -->
<app-navigation></app-navigation>

<main role="main">
  <!-- Insert jumbotron component here -->
  <app-carousel></app-carousel>

  <div class="container">
    <div class="row" >
      <app-license-plate
        class="col-md-4"
        appHighlight="#F5F5F5"
        *ngFor="let p of licensePlates"
        buttonText="Add to cart" [plate]="p">
      </app-license-plate>
    </div>
  </div>
</main>

<footer class="container">
  <p>&copy; License Plate Store 2018</p>
</footer>
