<h2>
  <img *ngIf="plate.onSale" src="assets/sale.png" class="sale"/>
</h2>
<img [src]="plate.picture" class="img-fluid" >
<p>{{plate.description}}</p>
<div>
  <h2 class="float-left">{{plate.price | currencyRenderer:currencyService.getCurrent() }}</h2><br />
  <button class="btn btn-primary float-right" role="button" (click)="popup.isOpen = true">
    {{buttonText}}
  </button>
</div>

<app-popup-window
  #popup
  title="Plate added to cart"
>
  <p>Thanks for shopping with us!</p>
  <p>You have added {{ this.plate.title }}</p>
  <p>{{ this.plate.description }}</p>
</app-popup-window>
